@font-face {
font-family: 'global';
src: url('./fonts/global/global.eot');
src: url('./fonts/global/global.eot?#iefix') format('embedded-opentype');
src: url('./fonts/global/global.woff2') format('woff2');
src: url('./fonts/global/global.woff') format('woff');
src: url('./fonts/global/global.ttf') format('truetype');
font-weight: normal;
font-style: normal;}
.fn-global-edit:before { content: '\e001';}
.fn-global-add:before { content: '\e002';}
.fn-global-attachment:before { content: '\e003';}
.fn-global-avatar:before { content: '\e004';}
.fn-global-calendar:before { content: '\e005';}
.fn-global-check:before { content: '\e006';}
.fn-global-comments:before { content: '\e007';}
.fn-global-delete:before { content: '\e008';}
.fn-global-download:before { content: '\e009';}
.fn-global-dropdownArrow:before { content: '\e010';}
.fn-global-expand:before { content: '\e011';}
.fn-global-file:before { content: '\e012';}
.fn-global-filter:before { content: '\e013';}
.fn-global-flag:before { content: '\e014';}
.fn-global-frequency:before { content: '\e015';}
.fn-global-help:before { content: '\e016';}
.fn-global-home:before { content: '\e017';}
.fn-global-information:before { content: '\e018';}
.fn-global-listSort:before { content: '\e019';}
.fn-global-locationSettings:before { content: '\e020';}
.fn-global-search:before { content: '\e021';}
.fn-global-send:before { content: '\e022';}
.fn-global-settings:before { content: '\e023';}
.fn-global-site:before { content: '\e024';}
.fn-global-time:before { content: '\e025';}
.fn-global-view:before { content: '\e026';}
.fn-global-yesNoTask:before { content: '\e027';}
.fn-global-plus-o:before { content: '\e028';}
.fn-global-building:before { content: '\e029';}
.fn-global-key:before { content: '\e030';}
.fn-global-logout:before { content: '\e031';}
.fn-global-mail:before { content: '\e034';}
.fn-global-myApp:before { content: '\e035';}
.fn-global-mySites:before { content: '\e036';}
.fn-global-user:before { content: '\e037';}
.fn-global-weather:before { content: '\e038';}
.fn-global-cloud:before { content: '\e039';}
.fn-global-cloudy:before { content: '\e040';}
.fn-global-day-cloudy:before { content: '\e041';}
.fn-global-day-cloudy-gusts:before { content: '\e042';}
.fn-global-day-fog:before { content: '\e043';}
.fn-global-day-lightning:before { content: '\e044';}
.fn-global-day-sunny:before { content: '\e045';}
.fn-global-day-sunny-overcast:before { content: '\e046';}
.fn-global-fog:before { content: '\e047';}
.fn-global-hail:before { content: '\e048';}
.fn-global-rain:before { content: '\e049';}
.fn-global-rain-mix:before { content: '\e050';}
.fn-global-rain-wind:before { content: '\e051';}
.fn-global-snow:before { content: '\e052';}
.fn-global-storm-showers:before { content: '\e053';}
.fn-global-thunderstorm:before { content: '\e054';}
.fn-global-contact:before { content: '\e055';}
.fn-global-dailyCoverageReport:before { content: '\e056';}
.fn-global-department:before { content: '\e057';}
.fn-global-employee:before { content: '\e058';}
.fn-global-employeeCertificationReport:before { content: '\e059';}
.fn-global-timeOffReport:before { content: '\e060';}
.fn-global-laborBudget:before { content: '\e061';}
.fn-global-laborLaws:before { content: '\e062';}
.fn-global-monthlyScheduleReport:before { content: '\e063';}
.fn-global-myschedule:before { content: '\e064';}
.fn-global-notesBroadcastReport:before { content: '\e065';}
.fn-global-operationalHours:before { content: '\e066';}
.fn-global-position:before { content: '\e067';}
.fn-global-reports:before { content: '\e068';}
.fn-global-request:before { content: '\e069';}
.fn-global-schedule:before { content: '\e070';}
.fn-global-scheduleReport:before { content: '\e071';}
.fn-global-scheduleSetting:before { content: '\e072';}
.fn-global-siteSchedule:before { content: '\e073';}
.fn-global-timeOff:before { content: '\e074';}
.fn-global-zipCheckList:before { content: '\e075';}
.fn-global-zipChitChat:before { content: '\e076';}
.fn-global-certificate:before { content: '\e077';}
.fn-global-clock:before { content: '\e078';}
.fn-global-cloudLibrary:before { content: '\e079';}
.fn-global-shiftCalendar:before { content: '\e080';}
.fn-global-teamCenter:before { content: '\e081';}
.fn-global-siteSetting:before { content: '\e082';}
.fn-global-globalSetting:before { content: '\e083';}
.fn-global-dailyReports:before { content: '\e084';}
.fn-global-globalChecklist:before { content: '\e085';}
.fn-global-historicalChecklist:before { content: '\e086';}
.fn-global-taskAssignments:before { content: '\e087';}
.fn-global-weeklyReports:before { content: '\e088';}
.fn-global-todayChecklist:before { content: '\e089';}
.fn-global-siteChecklist:before { content: '\e090';}
.fn-global-star:before { content: '\e091';}
.fn-global-times:before { content: '\e092';}
.fn-global-times-o:before { content: '\e093';}
.fn-global-times-line:before { content: '\e094';}
.fn-global-alert:before { content: '\e095';}
.fn-global-alert-o:before { content: '\e096';}
.fn-global-check-line:before { content: '\e097';}
.fn-global-check-o:before { content: '\e098';}
.fn-global-minus-o:before { content: '\e099';}
.fn-global-minus-line:before { content: '\e100';}
.fn-global-plus-line:before { content: '\e101';}
.fn-global-downArrow-line:before { content: '\e102';}
.fn-global-downArrow-o:before { content: '\e103';}
.fn-global-list-o:before { content: '\e104';}
.fn-global-send-o:before { content: '\e105';}
.fn-global-settings-o:before { content: '\e106';}
.fn-global-zipClock-o:before { content: '\e107';}
.fn-global-zipChecklist-o:before { content: '\e108';}
.fn-global-zipChitChat-o:before { content: '\e109';}
.fn-global-zipForecast-o:before { content: '\e110';}
.fn-global-zipHACCP-o:before { content: '\e111';}
.fn-global-zipInventory-o:before { content: '\e112';}
.fn-global-zipOrdering-o:before { content: '\e113';}
.fn-global-zipPOSDashBoard-o:before { content: '\e114';}
.fn-global-zipReporting-o:before { content: '\e115';}
.fn-global-zipSchedules-o:before { content: '\e116';}
.fn-global-zipShiftBook-o:before { content: '\e117';}
.fn-global-zipTemperature-o:before { content: '\e118';}
.fn-global-zipTimekeeping-o:before { content: '\e119';}
.fn-global-currency-o:before { content: '\e120';}
.fn-global-currency-line:before { content: '\e121';}
.fn-global-currency:before { content: '\e122';}
.fn-global-listTask-o:before { content: '\e123';}
.fn-global-listTask-line:before { content: '\e124';}
.fn-global-listTask:before { content: '\e125';}
.fn-global-number-o:before { content: '\e126';}
.fn-global-number-line:before { content: '\e127';}
.fn-global-number:before { content: '\e128';}
.fn-global-temperature-o:before { content: '\e129';}
.fn-global-temperature-line:before { content: '\e130';}
.fn-global-temperature:before { content: '\e131';}
.fn-global-text-o:before { content: '\e132';}
.fn-global-text:before { content: '\e133';}
.fn-global-text-line:before { content: '\e134';}
.fn-global-yesNoTask-o:before { content: '\e135';}
.fn-global-yesNoTask-line:before { content: '\e136';}
.fn-global-listSort-o:before { content: '\e137';}
.fn-global-listSort-line:before { content: '\e138';}
.fn-global-hubworksLogo-o:before { content: '\e139';}
.fn-global-hubworksLogo-line:before { content: '\e140';}
.fn-global-hubworksLogo:before { content: '\e141';}
.fn-global-warning-line:before { content: '\e142';}
.fn-global-edit-o:before { content: '\e143';}
.fn-global-pdf:before { content: '\e144';}
.fn-global-image:before { content: '\e145';}
.fn-global-excel:before { content: '\e146';}
.fn-global-powerpoint:before { content: '\e147';}
.fn-global-video:before { content: '\e148';}
.fn-global-audio:before { content: '\e149';}
.fn-global-word:before { content: '\e150';}
.fn-global-zip:before { content: '\e151';}
.fn-global-json:before { content: '\e152';}
.fn-global-manager-o:before { content: '\e153';}
.fn-global-crew-o:before { content: '\e154';}
.fn-global-supervisor-o:before { content: '\e155';}
.fn-global-android-line:before { content: '\e156';}
.fn-global-availability-line:before { content: '\e157';}
.fn-global-phone-line:before { content: '\e158';}
.fn-global-tools:before { content: '\e159';}
.fn-global-tasks:before { content: '\e160';}
.fn-global-ios:before { content: '\e161';}
.fn-global-androidTablet:before { content: '\e162';}
.fn-global-apacheClient:before { content: '\e163';}
.fn-global-APK:before { content: '\e164';}
.fn-global-inbox:before { content: '\e165';}
.fn-global-inboxAlert:before { content: '\e166';}
.fn-global-ipad:before { content: '\e167';}
.fn-global-windowTablet:before { content: '\e168';}
.fn-global-unknown:before { content: '\e169';}
.fn-global-web:before { content: '\e170';}
.fn-global-webClock:before { content: '\e171';}
.fn-global-windows8:before { content: '\e172';}
.fn-global-addUser:before { content: '\e173';}
.fn-global-correctiveAction:before { content: '\e174';}
.fn-global-dailyCalendar:before { content: '\e175';}
.fn-global-totalTask:before { content: '\e176';}
.fn-global-star-fill:before { content: '\e177';}
.fn-global-star-line:before { content: '\e178';}
.fn-global-star-o:before { content: '\e179';}
.fn-global-cloudFileUpload:before { content: '\e180';}
.fn-global-escalationTask:before { content: '\e181';}
.fn-global-exceptionTask:before { content: '\e182';}
.fn-global-support:before { content: '\e183';}
.fn-global-anyConnector:before { content: '\e184';}
.fn-global-anyConnector-o:before { content: '\e185';}
.fn-global-autogas:before { content: '\e186';}
.fn-global-autogas-o:before { content: '\e187';}
.fn-global-ERSbilling:before { content: '\e188';}
.fn-global-ERSbilling-o:before { content: '\e189';}
.fn-global-plumDigitalSignage:before { content: '\e190';}
.fn-global-plumDigitalSignage-o:before { content: '\e191';}
.fn-global-plumPOS:before { content: '\e192';}
.fn-global-plumPOS-o:before { content: '\e193';}
.fn-global-zipTrainingLMS:before { content: '\e194';}
.fn-global-zipTrainingLMS-o:before { content: '\e195';}
.fn-global-cashOffice:before { content: '\e196';}
.fn-global-cashOffice-o:before { content: '\e197';}
.fn-global-amazon:before { content: '\e198';}
.fn-global-avatar-fill:before { content: '\e199';}
.fn-global-copy:before { content: '\e200';}
.fn-global-dropbox:before { content: '\e201';}
.fn-global-fileUpload:before { content: '\e202';}
.fn-global-institution-fill:before { content: '\e203';}
.fn-global-institution:before { content: '\e204';}
.fn-global-listView:before { content: '\e205';}
.fn-global-unknown-fill:before { content: '\e206';}
.fn-global-rightArrow-fill:before { content: '\e207';}
.fn-global-avatar-rect:before { content: '\e208';}
.fn-global-createPlus:before { content: '\e209';}
.fn-global-intitution-line:before { content: '\e210';}
.fn-global-cloudDownload:before { content: '\e211';}
.fn-global-community:before { content: '\e212';}
.fn-global-supportTicket:before { content: '\e213';}
.fn-global-audioFile:before { content: '\e214';}
.fn-global-videoFile:before { content: '\e215';}
.fn-global-print:before { content: '\e216';}
.fn-global-cloudFileDownload:before { content: '\e217';}
.fn-global-cloudUpload:before { content: '\e218';}
.fn-global-delete-o:before { content: '\e219';}
.fn-global-notes:before { content: '\e220';}
.fn-global-info-o:before { content: '\e221';}
.fn-global-more:before { content: '\e222';}
.fn-global-msgReply:before { content: '\e223';}
.fn-global-msgForward:before { content: '\e224';}
.fn-global-msgCopy:before { content: '\e225';}
.fn-global-failedTempTask:before { content: '\e226';}
.fn-global-announcement:before { content: '\e227';}
.fn-global-barChart:before { content: '\e228';}
.fn-global-pieChart:before { content: '\e229';}
.fn-global-save:before { content: '\e230';}
.fn-global-share:before { content: '\e231';}
.fn-global-sortAlphabetical:before { content: '\e232';}
.fn-global-tag:before { content: '\e233';}
.fn-global-empJournals:before { content: '\e234';}
.fn-global-event:before { content: '\e235';}
.fn-global-log:before { content: '\e236';}
.fn-global-category:before { content: '\e237';}
.fn-global-custExperience:before { content: '\e238';}
.fn-global-addNew:before { content: '\e239';}
.fn-global-comments-fill:before { content: '\e240';}
.fn-global-food:before { content: '\e241';}
.fn-global-paperpin:before { content: '\e242';}
.fn-global-refresh:before { content: '\e243';}
.fn-global-tag-fill:before { content: '\e244';}
.fn-global-weekoff:before { content: '\e245';}
.fn-global-actionType:before { content: '\e246';}
.fn-global-cake:before { content: '\e247';}
.fn-global-cloudConnection:before { content: '\e248';}
.fn-global-disciplinaryAction:before { content: '\e249';}
.fn-global-other:before { content: '\e250';}
.fn-global-subType:before { content: '\e251';}
.fn-global-flag-fill:before { content: '\e252';}
.fn-global-hide-password:before { content: '\e253';}
.fn-global-angle:before { content: '\e254';}
.fn-global-double-angle:before { content: '\e255';}
.fn-global-sort:before { content: '\e256';}
.fn-global-sort-asc:before { content: '\e257';}
.fn-global-sort-desc:before { content: '\e258';}
.fn-global-mangeConnection:before { content: '\e259';}
.fn-global-warning-fill:before { content: '\e260';}
.fn-global-light:before { content: '\e261';}
.fn-global-dark:before { content: '\e262';}
.fn-global-clockHours:before { content: '\e263';}
.fn-global-labourHours:before { content: '\e264';}
.fn-global-upcomingShifts:before { content: '\e265';}
.fn-global-laborDollar:before { content: '\e266';}
.fn-global-laborPercent:before { content: '\e267';}
.fn-global-misingEmployee:before { content: '\e268';}
.fn-global-actualSales:before { content: '\e269';}
.fn-global-restart:before { content: '\e270';}
.fn-global-webTimeClock:before { content: '\e271';}
.fn-global-outStore:before { content: '\e272';}
.fn-global-tracker:before { content: '\e273';}
.fn-global-TXManager:before { content: '\e274';}
.fn-global-devices:before { content: '\e275';}
.fn-global-punchMgmtRpt:before { content: '\e276';}
.fn-global-reasonExtraPay:before { content: '\e277';}
.fn-global-storeSummryRpt:before { content: '\e278';}
.fn-global-timeClockDevice:before { content: '\e279';}
.fn-global-auditTrialRpt:before { content: '\e280';}
.fn-global-dailyPunchRpt:before { content: '\e281';}
.fn-global-empRehire:before { content: '\e282';}
.fn-global-myClock:before { content: '\e283';}
.fn-global-empVoilenceRpt:before { content: '\e284';}
.fn-global-ignoredPunchRpt:before { content: '\e285';}
.fn-global-empPerformRpt:before { content: '\e286';}
.fn-global-pencil:before { content: '\e287';}
.fn-global-gadgets:before { content: '\e288';}
.fn-global-config-status:before { content: '\e289';}
.fn-global-transaction-status:before { content: '\e290';}
.fn-global-bell-alerts:before { content: '\e291';}
.fn-global-break:before { content: '\e292';}
.fn-global-adminSetup:before { content: '\e293';}
.fn-global-siteHealth:before { content: '\e294';}
.fn-global-outstorePlug:before { content: '\e295';}
.fn-global-menuCheck:before { content: '\e296';}
.fn-global-heart:before { content: '\e297';}
.fn-global-heart-fill:before { content: '\e298';}
.fn-global-cart:before { content: '\e299';}
.fn-global-call:before { content: '\e300';}
.fn-global-location:before { content: '\e301';}
.fn-global-gps:before { content: '\e302';}
.fn-global-bag:before { content: '\e303';}
.fn-global-pencil-fill:before { content: '\e304';}
.fn-global-clock-fill:before { content: '\e305';}
.fn-global-delivery:before { content: '\e306';}
.fn-global-foodItem:before { content: '\e307';}
.fn-global-division:before { content: '\e308';}
.fn-global-division-line:before { content: '\e309';}
.fn-global-division-o:before { content: '\e310';}
.fn-global-equal:before { content: '\e311';}
.fn-global-equal-line:before { content: '\e312';}
.fn-global-equal-o:before { content: '\e313';}
.fn-global-minus:before { content: '\e314';}
.fn-global-daypart:before { content: '\e315';}
.fn-global-daypart-o:before { content: '\e316';}
.fn-global-daypart-line:before { content: '\e317';}
.fn-global-prepItem:before { content: '\e318';}
.fn-global-prepStation:before { content: '\e319';}
.fn-global-action:before { content: '\e320';}
.fn-global-drag:before { content: '\e321';}
.fn-global-discount:before { content: '\e322';}
.fn-global-discount-fill:before { content: '\e323';}
.fn-global-dollar:before { content: '\e324';}
.fn-global-dollar-line:before { content: '\e325';}
.fn-global-dollar-o:before { content: '\e326';}
.fn-global-table-line:before { content: '\e327';}
.fn-global-table:before { content: '\e328';}
.fn-global-table-o:before { content: '\e329';}
.fn-global-empty-wallet:before { content: '\e330';}
.fn-global-arrow:before { content: '\e331';}
.fn-global-up:before { content: '\e332';}
.fn-global-down:before { content: '\e333';}
.fn-global-graph:before { content: '\e334';}
.fn-global-customPSheet:before { content: '\e335';}
.fn-global-pitem-analysis:before { content: '\e336';}
.fn-global-prep-device:before { content: '\e337';}
.fn-global-prep-sheet:before { content: '\e338';}
.fn-global-recipe:before { content: '\e339';}
.fn-global-link:before { content: '\e340';}
.fn-global-lock:before { content: '\e341';}
.fn-global-unlock:before { content: '\e342';}
.fn-global-emp-termination:before { content: '\e343';}
.fn-global-unlink:before { content: '\e344';}
.fn-global-employees:before { content: '\e345';}
.fn-global-network-map:before { content: '\e346';}
.fn-global-humburger:before { content: '\e347';}
.fn-global-mdm:before { content: '\e348';}
.fn-global-mdm-fill:before { content: '\e349';}
.fn-global-plum-device:before { content: '\e350';}
.fn-global-plum-device-offline:before { content: '\e351';}
.fn-global-router:before { content: '\e352';}
.fn-global-router-fill:before { content: '\e353';}
.fn-global-wifi:before { content: '\e354';}
.fn-global-wifi-fill:before { content: '\e355';}